@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

body{
    background-image:  linear-gradient(to bottom, #7e0274, #95007c, #ad0084, #c6008a, #de008f, #e9219b, #f434a6, #ff43b2, #ff5cc7, #ff72db, #ff86ee, #ff99ff);
    padding: 20px;
}

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display:flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.ctn-form{
    width: 80%;
    padding: 40px;
    background:#f7f7f7;

}

.logo{
    width: 250px;
    display:block;
    margin: auto;
}
.title{
    text-align: center;
    margin-top: 20px;
    font-weight: 300px;
    color:#7a7a7a;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300px;
    color: #7a7a7a;
}

input[type="email"],
input[type="password"],
input[type="password_veri"]{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0);
    border:0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0,0, 0,0.12);
    color:#E30F87;
    font-size: 16px;

}

button[type="submit"]{
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color:white;
    border: 0px;
    border-radius: 14px;
    background-image: linear-gradient(90deg,#E30F87,#ff0394);
    font-weight:bold;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover{
    background-image:linear-gradient(90deg,#ff4d88,#E30F87);

}

.text-footer{
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;

}
.text-footer{
    color:#029EE1;
    font-weight: 500;
}

/*lado derecho*/
.ctn-text{
    width: 100%;
    background-image:url(../img/jonathan-borba-RWgE9_lKj_Y-unsplash.jpg);
    background-position:center;
    background-size:cover;
    padding: 40px;
    position: relative;
}
.ctn-text2{
    width: 100%;
    background-image:url(../img/baby-821625_1280.jpg);
    background-position:center;
    background-size:cover;
    padding: 40px;
    position: relative;
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image:  linear-gradient(to bottom, #7e0274, #95007c, #ad0084, #c6008a, #de008f, #e9219b, #f434a6, #ff43b2, #ff5cc7, #ff72db, #ff86ee, #ff99ff);
    opacity: 0.5;
}
.title-description{
    position:relative;
    top:80px;
    color: white;
    font-weight: 300;
    font-size: 40px;
}

.text-description{
    position: relative;
    top:110px;
    color:white;
    font-size: 18px;
    font-weight: 200;
}

/*Responsive*/

@media screen and (max-width:800px){
    .ctn-text{
        display: none;
    }
    .ctn-text2{
        display: none;
    }

    .ctn-form{
        margin: auto;
        width: 100%;
        background: white;
    }
}
